/* this is a commment, just so you know */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.stack.imgur.com/tFVbQ.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#First_Part {
    color: white;
    background: black;
    width: 1300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
}

#Space_Marines_Creation_Main {
    color: white;
    background: black;
    width: 1300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
}
#Space_Marines_Creation_Main > Space_Marines_Creation_Main_Part1 {
     color: white;
     background: black;
     opacity: 0.8;
     margin: 15%;
 }

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    opacity: 0.8;
}
.dropbtn2 {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    opacity: 0.8;
}
.dropbtn3 {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    opacity: 0.8;
}
.dropbtn4 {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    opacity: 0.8;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown3 {
    position: relative;
    display: inline-block;
}
.dropdown4 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content4 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}

.dropdown-content2 a:hover {background-color: #ddd;}
.dropdown2:hover .dropdown-content2 {display: block;}
.dropdown2:hover .dropbtn2 {background-color: black;}

.dropdown-content3 a:hover {background-color: #ddd;}
.dropdown3:hover .dropdown-content3 {display: block;}
.dropdown3:hover .dropbtn3 {background-color: black;}

.dropdown-content4 a:hover {background-color: #ddd;}
.dropdown4:hover .dropdown-content4 {display: block;}
.dropdown4:hover .dropbtn4 {background-color: black;}

#footer {
    color: white;
    background-color: black;
}